<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= subTitle %></h1>
    <%if(isHealed) {%>
      <h2>HPが全快した！</h2>
      お金を<%= user.level * 1000%>C使いました． 
    <% } %>
    
    <a href="/status"><button>ステータス画面へ</button></a>
    <a href="/bank"><button>銀行へ</button></a>
    <a href="/weaponShop"><button>武器屋へ</button></a>
    <a href="/armorShop"><button>防具屋へ</button></a>
    <a href="/accessoryShop"><button>装飾品屋へ</button></a>
    <a href="/toolShop"><button>道具屋へ</button></a> 
    
  </body>
</html>
