body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/back00.gif");
  background-color:"#ffffff";
}

a {
  color: #00B7FF;
}

span.artsgray{
  color: gray;
  font-weight : bold;
  font-size: 20px;
}

span.artsblack{
  color: black;
  font-weight : bold;
  font-size: 20px;
}

span.artsred{
  color: red;
  font-weight: bold;
  font-size: 20px ;
}

span.artsyellow{
  color: #FFAA00;
  font-weight : bold;
  font-size: 20px ;
}

span.artspurple{
  color:purple;
  font-weight : bold;
  font-size: 20px ;
}

span.artsblue{
  color:blue;
  font-weight : bold;
  font-size: 20px ;
}

span.artsbrown{
  color: brown;
  font-weight : bold;
  font-size: 20px ;
}

span.artsgreen{
  color: green;
  font-weight : bold;
  font-size: 20px ;
}

span.artsdarkred{
  color: darkred;
  font-weight : bold;
  font-size: 20px ;
}

span.artspink{
  color: pink;
  font-weight : bold;
  font-size: 20px ;
}

span.artsskyblue{
  color: skyblue;
  font-weight : bold;
  font-size: 20px ;
}

span.artslightblue{
  color: lightblue;
  font-weight : bold;
  font-size: 20px ;
}

span.artsdarkblue{
  color: darkblue;
  font-weight : bold;
  font-size: 20px ;
}

span.artsroyalblue{
  color: royalblue;
  font-weight : bold;
  font-size: 20px ;
}

span.hitAmountblue{
  color:blue;
  font-weight : bold;
  font-size: 14px ;
}

span.hpRecover{
  color:#FFAA00;
}